# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pytouch_product\crnn_word_captcha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
